{% extends "objdetec/base.html" %}
{% load bootstrap humanize i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "NN Models" %}</li>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="float-right">
            <a href="{% url "nnmodels:nnmodel_create" %}" class="btn btn-primary" role="button">{% trans "Create NN model" %}</a>
        </div>
    </div>
</div>
{% endif %}
<div class="row mt-2">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Description" %}</th>
                        <th>{% trans "#Version" %}</th>
                        {% if user.is_staff %}
                            <th>{% trans "Uploader" %}</th>
                        {% endif %}
                        <th>{% trans "Last modified" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nnmodel in nnmodels %}
                        <tr>
                            <th><a href="{% url "nnmodels:nnmodel_detail" nnmodel.slug %}">{{ nnmodel.name }}</a></th>
                            <td>
                                {% if nnmodel.description %}
                                    {% autoescape off %}{{ nnmodel.description }}{% endautoescape %}
                                {% endif %}
                            </td>
                            <td>
                                <span class="badge badge-primary badge-pill">{{ nnmodel.versions.count }}</span></td>
                            {% if user.is_staff %}
                                <th>{{ nnmodel.uploader }}</th>
                            {% endif %}
                            <td>{{ nnmodel.versions.last.updated_at|naturaltime }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% trans "NN Models" as pagination_title %}
        {% url "nnmodels:nnmodel_list" as base_path %}
        {% pagination paginator page_obj base_path pagination_title o=o %}
    </div>
</div>
{% endblock %}
