{% extends "objdetec/base.html" %}
{% load humanize i18n nnmodels objdetec static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/highcharts-more.js" %}"></script>
<script src="{% static "js/nnmodels/trainhistory.js" %}"></script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "nnmodels:nnmodels" %}">{% trans "NN Models" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "nnmodels:nnmodel" nnmodel.slug %}">{{ nnmodel.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ version.name }}</li>
{% endblock %}


{% block content %}
{% if user.is_authenticated and nnmodel.uploader == user %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="float-right">
            <a href="{% url "nnmodels:version_edit" nnmodel.slug version.pk %}" class="btn btn-primary" role="button">{% trans "Edit Version" %}</a>
        </div>
    </div>
</div>
{% endif %}
<div class="row mt-2">
    <div class="col-md-10 offset-md-1">
        <dl class="row">
            <dt class="col-md-3">{% trans "Name" %}</dt>
            <dd class="col-md-9">{{ version.name }}</dd>
            <dt class="col-md-3">{% trans "Last Modified" %}</dt>
            <dd class="col-md-9">{{ version.updated_at|naturaltime }}</dd>
            <dt class="col-md-3">{% trans "Model" %}</dt>
            <dd class="col-md-3">{{ version.model_file|basename }}</dd>
            <dd class="col-md-3"><a href="{% url "nnmodels:version_config" nnmodel.slug version.pk %}">{% trans "View config" %}</a></dd>
            <dd class="col-md-3"><a href="{% url "nnmodels:version_plot" nnmodel.slug version.pk %}">{% trans "Plot model" %}</a></dd>
            <dt class="col-md-3">{% trans "Train-history" %}</dt>
            <dd class="col-md-9">{{ version.trainhistory_file|basename }}</dd>
            <dt class="col-md-3">{% trans "Inputs" %}</dt>
            <dd class="col-md-9"><code>{{ version.inputs }}</code></dd>
            <dt class="col-md-3">{% trans "Outputs" %}</dt>
            <dd class="col-md-9"><code>{{ version.outputs }}</code></dd>
            <dt class="col-md-3">{% trans "Total params" %}</dt>
            <dd class="col-md-9">{{ version|total_params|intcomma }}</dd>
            <dt class="col-md-3">{% trans "Trainable params" %}</dt>
            <dd class="col-md-9">{{ version.nb_trainable|intcomma }}</dd>
            <dt class="col-md-3">{% trans "Non-trainable params" %}</dt>
            <dd class="col-md-9">{{ version.nb_non_trainable|intcomma }}</dd>
        </dl>
    </div>
</div>
{% if nnmodel.versions.last.trainhistory_file %}
    <div class="row">
        <div class="col-md-12">
            <div id="trainhistchart" style="min-width: 310px; height: 800px;"></div>
            <script type="text/javascript">
                $(document).ready(function() {
                    var chart_url = "{% url "nnmodels:version_chart_trainhistory" nnmodel.slug version.pk %}";
                    trainhistory_chart(chart_url, "trainhistchart");
                });
            </script>
        </div>
    </div>
{% endif %}
{% endblock %}
