{% extends "objdetec/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "nnmodels:nnmodels" %}">{% trans "NN Models" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "nnmodels:nnmodel" nnmodel.slug %}">{{ nnmodel.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url "nnmodels:version" nnmodel.slug version.pk %}">{{ version.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Plot" %}</li>
{% endblock %}


{% block content %}
{% endblock %}
