{% extends "objdetec/base.html" %}
{% load humanize i18n objdetec results %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "images:images" %}">{% trans "Images" %}</a></li>
{% if result %}
    <li class="breadcrumb-item"><a href="{% url "images:image" image.slug %}">{{ image.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Result" %}</li>
{% else %}
    <li class="breadcrumb-item active" aria-current="page">{{ image.name }}</li>
{% endif %}
{% endblock %}


{% block content %}
{% if user.is_authenticated and image.uploader == user %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="float-right">
                <a href="{% url "images:image_edit" image.slug %}" class="btn btn-primary" role="button">{% trans "Edit image" %}</a>
            </div>
        </div>
    </div>
{% endif %}
<div class="row mt-2">
    <div class="col-md-9">
        {% if result %}
            <div id="results">
                <div class="row">
                    <div class="col">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="Image group">
                                <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseImage" aria-expanded="true" aria-controls="collapseImage">{% trans "Image" %}</button>
                            </div>
                            {% for output in result.outputs.all %}
                                <div class="btn-group mr-2" role="group" aria-label="{{ output.name }} group">
                                    {% if output.t == "img" %}
                                        <button type="button" class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseOutput{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOutput{{ forloop.counter }}">{{ output.name }}</button>
                                    {% else %}
                                        <button type="button" class="btn btn-secondary disabled">{{ output.name }}</button>
                                        {% for i in output|nb_classes|as_range %}
                                            <button type="button" class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseOutput{{ forloop.parentloop.counter }}-{{ i }}" aria-expanded="false" aria-controls="collapseOutput{{ forloop.parentloop.counter }}-{{ i }}">{{ i }}</button>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div id="collapseImage" class="collapse show" aria-labelledby="collapseImage" data-parent="#results">
                            <img class="img-fluid img-thumbnail" src="{{ image.image.url }}">
                        </div>
                        {% for output in result.outputs.all %}
                            {% if output.t == "img" %}
                                <div id="collapseOutput{{ forloop.counter }}" class="collapse" aria-labelledby="collapseOutput{{ forloop.counter }}" data-parent="#results">
                                    <img class="img-fluid img-thumbnail" src="{{ output.p|array_to_img }}">
                                </div>
                            {% else %}
                                {% for i in output|nb_classes|as_range %}
                                    <div id="collapseOutput{{ forloop.parentloop.counter }}-{{ i }}" class="collapse" aria-labelledby="collapseOutput{{ forloop.parentloop.counter }}-{{ i }}" data-parent="#results">
                                        <img class="img-fluid img-thumbnail" src="{{ output.p|array_to_img:i }}">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <img class="img-fluid img-thumbnail" src="{{ image.image.url }}">
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col">
                <h4>#{% trans "Results" %}</h4>
                <ul>
                    {% for r in image.results.all %}
                        <li>
                            {% if result.pk == r.pk %}
                                {{ r.version }}: {{ r.updated_at|naturaltime }}
                            {% else %}
                                <a href="{% url "images:image_result" image.slug r.pk %}">{{ r.version }}: {{ r.updated_at|naturaltime }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h4>#{% trans "NN Models" %}</h4>
                <ul>
                    {% for nnmodel in nnmodels %}
                        <li>
                            <a href="{% url "nnmodels:nnmodel" nnmodel.slug %}">{{ nnmodel.name }}</a>
                            <ul>
                                {% for version in nnmodel.versions.all %}
                                    <li><a href="{% url "nnmodels:version" nnmodel.slug version.pk %}">{{ version.name }}: {{ version.updated_at|naturaltime }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
