{% extends "objdetec/base.html" %}
{% load bootstrap i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "profiles:profile" %}">{% trans "Profile" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Password change" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-info">{% blocktrans %}Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.{% endblocktrans %}</div>
        {% trans "Save" as save_trans %}
        {% bootstrap_form form=form btn_title=save_trans %}
        <script type="text/javascript">
            $("#id_old_password").focus();
        </script>
    </div>
</div>
{% endblock %}
