{% load i18n objdetec %}

{% url 'profiles:password_reset_confirm' uidb64=uid token=token as reset_url %}
{% autoescape off %}
{% blocktrans with name=user.get_short_name domain=domain reset_url=reset_url %}Hello {{ name }},

You're receiving this e-mail because you requested a password reset for your user account at https://{{ domain }}.

Please go to the following page and choose a new password:
https://{{ domain }}{{ reset_url }}

Thanks for using our site!

The objdetec team.{% endblocktrans %}



Copyright © {% timestamp '%Y' %} objdetec.jnphilipp.org
{% endautoescape %}
