{% extends "objdetec/base.html" %}
{% load i18n %}


{% block title %}Password change • Profile • objdetec{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "profiles:profile" %}">{% trans "Profile" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Password change" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-success">{% trans "Your password was changed successfully." %}</div>
    </div>
</div>
{% endblock %}
