{% extends "objdetec/base.html" %}
{% load bootstrap i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "profiles:profile" %}">{% trans "Profile" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Password reset" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-info">{% trans "Please enter your email address, so we can send you a link to type in your new password." %}</div>
        {% trans "Request password" as btn_title %}
        {% bootstrap_form form=form btn_title=btn_title %}
        <script type="text/javascript">
           $("#id_email").focus();
        </script>
    </div>
</div>
{% endblock %}
