{% extends "objdetec/base.html" %}
{% load bootstrap i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "profiles:profile" %}">{% trans "Profile" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Password reset" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% if validlink %}
            {% trans "Save new password" as btn_title %}
            {% bootstrap_form form=form btn_title=btn_title %}
        {% else %}
            <h3>{% trans "Password reset unsuccessful" %}</h3>
            <div class="alert alert-danger mt-md-3" role="alert">
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a new password reset link.{% endblocktrans %}</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
