{% extends "objdetec/base.html" %}
{% load bootstrap i18n %}


{% block title %}Sign in • Profile • objdetec{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "profiles:profile" %}">{% trans "Profile" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Sign in" %}</li>
{% endblock %}


{% block content %}
<div class="row mt-md-5">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center">objdetec</h1>
    </div>
</div>
<div class="row mt-md-5">
    <div class="col-md-2 offset-md-5">
        {% trans "Sign in" as sign_in_trans %}
        {% bootstrap_form form=form type="vertical" url="?next="|add:gnext btn_title=sign_in_trans %}
        <script type="text/javascript">
            $("#id_username").focus();
        </script>
    </div>
</div>
{% endblock %}
