{% extends "objdetec/base.html" %}
{% load bootstrap i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "profiles:profile" %}">{% trans "Profile" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Sign up" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% trans "Sign up" as sign_up_trans %}
        {% bootstrap_form form=form btn_title=sign_up_trans %}
    </div>
</div>
{% endblock%}
