{% extends "objdetec/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "profiles:profile" %}">{% trans "Profile" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Signed out" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>{% trans "Thanks for spending some quality time with objdetec today." %}</h3>
        <p><a href="{% url "profiles:signin" %}">{% trans "Sign in again" %}</a></p>
    </div>
</div>
{% endblock %}
