{% extends "objdetec/base.html" %}
{% load i18n %}


{% block title %}Imprint • objdetec{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Imprint" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
        <p>Information in accordance with section 5 TMG</p>
        <p><b>Contact:</b><br>E-Mail: <a href="mailto:objdetec@jnphilipp.org?subject=[objdetec]">objdetec@jnphilipp.org</a><br><i>Please send constructive criticism and feedback to my e-mail address with the subject "[objdetec]".</i></p>
        <p>&nbsp;</p>
        <p><b style="font-size: 14pt;">Disclaimer:</b></p>
        <p><b>Accountability for content</b></p><p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).</p>
        <p><b>Accountability for links</b></p>
        <p>Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.</p>
        <p>&nbsp;</p>
        <p><b style="font-size: 14pt;">Privacy Statement</b></p>
        <p><b>General</b></p>
        <p>Your personal data (e.g. title, name, house address, e-mail address, phone number, bank details, credit card number) are processed by us only in accordance with the provisions of German data privacy laws. The following provisions describe the type, scope and purpose of collecting, processing and utilizing personal data. This data privacy policy applies only to our web pages. If links on our pages route you to other pages, please inquire there about how your data are handled in such cases.</p>
        <p><b>Inventory data</b></p>
        <p>(1) Your personal data, insofar as these are necessary for this contractual relationship (inventory data) in terms of its establishment, organization of content and modifications, are used exclusively for fulfilling the contract. For goods to be delivered, for instance, your name and address must be relayed to the supplier of the goods.</p>
        <p>(2) Without your explicit consent or a legal basis, your personal data are not passed on to third parties outside the scope of fulfilling this contract. After completion of the contract, your data are blocked against further use. After expiry of deadlines as per tax-related and commercial regulations, these data are deleted unless you have expressly consented to their further use.</p>
        <p><b>Disclosure</b></p>
        <p>According to the Federal Data Protection Act, you have a right to free-of-charge information about your stored data, and possibly entitlement to correction, blocking or deletion of such data. Inquiries can be directed to the following e-mail addresses: (<a href="mailto:objdetec@jnphilipp.org?subject=[objdetec]">objdetec@jnphilipp.org</a>)</p>
        <p><b>Matomo</b></p>
        <p>This website uses <a href="https://matomo.org">Matomo</a>, a web analytics open-source software. Matomo uses “cookies”, which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address anonymized prior to its storage) will be stored on the server of the service provider in Germany. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website.</p>
        <iframe style="border: 0; height: 200px; width: 600px;" src="https://analytics.jnphilipp.org/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=&fontSize=&fontFamily=">
    </div>
</div>
{% endblock %}
